#cuerpocontainer{
    margin-left: 10vh;
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
    transition: all ease .5s infinite;
}
body{
    background-image: url(../img/backimage.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    padding:0;
    margin:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}   

.navcontainer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(214, 26, 42);
    align-items: center;
    width: auto;
    padding: 30px;
    gap: 75px;
    color: rgb(255, 255, 255) !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.updateaform{
    padding: 15px;
    background-color: transparent;
    color: black;
    border-radius: 10px;
    transition: all ease .5s;
    width: 110px;
    font-size: 17px;
    border: 1px solid black !important;
}

.updateaform:hover{
    background-color: #198754;
    color: white;
    border-radius: 0px;
}
/*SPINER DE CARGA*/
#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgba(255,20,43,255);
    -webkit-animation: spin 1s linear infinite;
    animation: spin .5s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
  
.row{
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
}

.column{
    display: flex;
    flex-direction: column;
    flex:content;
    padding: 20px;
}

.checkcont{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
 
.uploadsubmit{
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    border:1px solid;
    transition: all ease .5s;
}

.uploadsubmit:hover{
    background-color: rgba(34, 104, 255, 0.884);
    transform: scale(1.1);
    color: white;
    cursor: pointer;
    border-radius: 0;
}

.recordfld{
    cursor: pointer;
    border: 1px solid black;
    padding: 25px;
    text-align: center;
}

#inputTag{
    border: 1px solid;
    padding: 15px;
    display: none;
    transition: all ease out .5s;
    color: white
}
#imageName{
    color: rgb(101, 219, 107);
}
.choseimgcontainer{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    transition: all .5s;
    padding: 5px;
    background-color: #007bff;
}
.recordcontainer{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    transition: all .5s;
    padding: 5px;
    background-color: #007bff
}
.updateimg{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    transition: all .5s;
    padding: 5px;
    background-color: #198754
}

.recordcontainer:hover{
    color: #fff;
    background-color: rgb(0, 204, 255)
}

.docname{
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 17px;
}

.docdate{
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 17px;
}

.uploadmodal{
    background-color: #198754;
    color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all ease .5s;
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 10px
}

.uploadmodal:hover{
    background-color: greenyellow;
    border-radius: 0px;
    color: black
}
.updatemodal{
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 10px
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    display: none;
  }
  
  .modalcontainer {
    position: fixed;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
    display: none;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  .modalcontainer h2 {
    margin-top: 0;
  }
  
  .modal-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    display: none;
  }
  
  .modalcontainer2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
    display: none;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  .modalcontainer2 h2 {
    margin-top: 0;
  }

.detailscontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 40px;
}
.docontainer{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
}
ul{
    list-style-type: none;
    text-decoration: none;
    color: black
}

.detailcontrat{
    padding: 25px;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 18px;
    align-items: center;
    text-align: center;
}
.cardimg{
    width: 20vh;
    height: 20vh;
    border-radius: 150%;
}
.links{
    text-decoration: none;
}
.details{
    background-color: white;
    width: 22%;
    height: 40vh;
    overflow: auto;;
    border-radius: 10px;
    padding: 20px;
}

.previewdoc{
    border: 1px solid black;
    background-color: #f1f1f0;
    padding: 0.2vh;
    width: 4vh;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    transition: all ease .5s;
    text-decoration: none;
    color: black;
}

.download{
    border: 1px solid black;
    border-radius: 2px;
    transition: all ease .5s
}
.previewdoc:hover{
    cursor:pointer;
    background-color: rgb(252, 66, 66);
    color: whitesmoke;
}
.download:hover{
    cursor:pointer;
    background-color: rgb(252, 66, 66);
    color: whitesmoke;
}

.options{
    display: flex;
    align-items: center;
    gap: 5px;;
}

.listado{
    background-color: white;
    width: 70%;
    height: 40vh;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
}

.docontainer{
    background-color: white;
    height: 60vh;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
    width: 100%
}

.columna{
    display: flex;
    flex-direction: column;
    flex:content;
    padding: 20px;
}

.fila{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
}
#preview{
    background-color: white;
    width: 60vh;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
}

@media screen and (max-width: 1600px){
    .listado{
        width: 62%;
    }
    .docontainer{
        width: 90%
    }
}
@media screen and (max-width:1000px){
    .listado{
        width: 50%;
    }
    .details{
        width: 33%;
    }
}
@media screen and (max-width:785px){
    .listado{
        width: 100%;
    }
    .modalcontainer{
        width: 30vh
    }
    .docontainer{
        width: 100%;
    }
    .details{
        width: 100%
    }
}
@media(max-width:320px){
    .detailscontainer{
        padding: 0px
    }
    .modalcontainer{
        width:30vh;
        height: 80vh;
        overflow: auto;
    }
    .docname{
        width: 25vh
    }
}