li{
    text-align: center;
    list-style-type: none;
}

a{
    text-decoration: none;
}

footer{
    background-color: rgb(236,27,44);
    padding: 25px;
    color: #fff;
}

.footeritems{
    display: flex;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
}