li{
    text-align: center;
    list-style-type: none;
}

a{
    text-decoration: none;
}

footer{
    background-color: rgb(236,27,44);
    color: #fff;
    position:fixed;
    bottom: 0;
    width: 100%;
}

.footeritems{
    display: flex;
    justify-content: center;
    gap: 65px;
    flex-wrap: wrap;
}